@mixin screen-xs {
  @media (min-width: 360px) {
    @content;
  }
}
@mixin screen-sm {
  @media (min-width: 576px) {
    @content;
  }
}
@mixin screen-md {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin screen-lg {
  @media (min-width: 976px) {
    @content;
  }
}
@mixin on-circle($item-count, $circle-size, $item-size) {
  position: relative;
  height: $circle-size;
  padding: 0;
  border-radius: 50%;
  list-style: none;

  > * {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: $item-size;
    height: $item-size;
    margin: -calc($item-size / 2);

    $angle: calc(360 / $item-count);
    $rot: -90;
    $direction: calc($angle / 45);

    @for $i from 1 through $item-count {
      &:nth-of-type(#{$i}) {
        transform: rotate(calc($rot * 1deg))
          translate(calc($circle-size / 2))
          rotate(calc($i / $item-count * 1deg + 270deg));
      }
      $rot: $rot + $angle;
    }
  }
}
.circular {
  &-container {
    @include on-circle($item-count: 16, $circle-size: 18em, $item-size: 20px);
    margin: 5em -6px 0;
    width: max-content;

    @include screen-sm {
      @include on-circle($item-count: 16, $circle-size: 24em, $item-size: 20px);
      margin: 5em -6px 0;
    }
    @include screen-md {
      @include on-circle($item-count: 16, $circle-size: 28em, $item-size: 20px);
      margin: 5em -6px 0;
    }
  }

  &-outer-item {
    transition: 0.15s;
  }
  &-inner-item {
    width: 100%;
    height: 100%;
    transform: translate(calc(-50% + 8px), calc(-50% + 8px));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    & .middle {
      padding: 10px auto;
      font-size: 24px;
      font-weight: 300;
      @include screen-xs {
        font-size: 36px;
      }
      @include screen-sm {
        font-size: 50px;
      }
      @include screen-md {
        font-size: 64px;
      }
    }
  }
}
