@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";

.body {
  @apply h-screen md:flex;
}
.content {
  @apply grow p-3;
}
.menu-list {
  @apply md:static md:h-screen lg:w-64 md:w-auto w-screen h-auto bg-slateDark flex flex-col transition-all py-3;
}
.menu-item {
  @apply w-full flex gap-2 rounded p-3 text-lightGray hover:bg-slateLight hover:text-white  cursor-pointer;
}
