/* container */
.rbc-calendar {
  color: var(--slateLight);
}
/* header buttons */
.rbc-toolbar button {
  transition: color 0.3s, background-color 0.3s;
  color: var(--light100);
  border: 1px solid var(--transparent);
  box-shadow: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
.rbc-toolbar button:hover {
  color: var(--slateLight);
  /* background-color: var(--light000); */
  background-color: var(--transparent);
  border-color: var(--transparent);
}
.rbc-toolbar button.rbc-active {
  background-color: var(--light000);
  border-color: var(--light200);
}
.rbc-toolbar button:active,
.rbc-toolbar button:focus,
.rbc-toolbar button.rbc-active {
  box-shadow: none;
}
.rbc-toolbar button:active,
.rbc-toolbar button:focus,
.rbc-toolbar button:active:hover,
.rbc-toolbar button:active:focus,
.rbc-toolbar button.rbc-active,
.rbc-toolbar button.rbc-active:hover,
.rbc-toolbar button.rbc-active:focus {
  color: var(--slateLight);
  background-color: var(--transparent);
  border-color: var(--transparent);
}

/* header Date Title */
.rbc-toolbar-label {
  font-size: 22px;
  /* font-weight: 600; */
}
.rbc-toolbar .rbc-btn-group:first-child {
  display: none;
}
.rbc-toolbar .rbc-toolbar-label {
  text-align: left;
}
.rbc-toolbar {
  /* flex-direction: column; */
}
@media (min-width: 768px) {
  .rbc-toolbar {
    flex-direction: row;
  }
  .rbc-toolbar .rbc-toolbar-label {
    text-align: center;
  }
  .rbc-toolbar .rbc-btn-group:first-child {
    display: flex;
  }
  /* hide today button */
  /* .rbc-toolbar .rbc-btn-group:first-child :first-child {
    display: none;
  } */
  /* hide back next button */
  /* .rbc-toolbar .rbc-btn-group:first-child :not(:first-child) {
    display: none;
  } */
}

/* date */
.rbc-today {
  background-color: var(--blue000);
}
.rbc-day-bg {
  padding: 5px;
}
.rbc-row-segment {
  padding: 3px 5px;
}
/* event */
.rbc-event,
.rbc-day-slot .rbc-background-event {
  color: var(--white);
  background-color: var(--blue200);
  border-radius: 6px;
  border: 1px solid var(--transparent);
}
.rbc-day-slot .rbc-event,
.rbc-day-slot .rbc-background-event {
  border: 1px solid var(--light000);
}
.rbc-show-more {
  color: var(--blue200);
}
.rbc-day-slot .rbc-event-content {
  font-size: 18px;
}
.rbc-day-slot .rbc-event-label {
  padding-right: 10px;
}
.rbc-agenda-view table.rbc-agenda-table,
.rbc-time-view {
  border: 1px solid var(--light000);
}
.rbc-header + .rbc-header,
.rbc-agenda-view table.rbc-agenda-table tbody > tr > td + td {
  border-left: 0px solid var(--transparent);
}
.rbc-agenda-view table.rbc-agenda-table thead > tr > th {
  border-bottom: 2px solid var(--light100);
}

.rbc-agenda-view table.rbc-agenda-table thead > tr > th {
  padding: 10px 20px;
}
.rbc-agenda-view table.rbc-agenda-table tbody > tr > td {
  padding: 10px 20px;
}
.rbc-agenda-view table.rbc-agenda-table tbody > tr:nth-child(2n) {
  background: var(--light000);
}
.rbc-agenda-view table.rbc-agenda-table tbody > tr:nth-child(2n) + tr {
  /* border-top: 2px solid var(--light100); */
}
.rbc-agenda-view table.rbc-agenda-table tbody > tr + tr {
  /* border-top: 1px solid var(--light100); */
  border-bottom: 2px solid var(--light100);
}
.rbc-agenda-view table.rbc-agenda-table tbody > tr + tr {
  border-top: 1.5px solid var(--light100);
}

/* all column */
/* .rbc-agenda-view table.rbc-agenda-table tbody > tr:nth-child(2n) {
  background-color: var(--light000);
} */

.rbc-agenda-date-cell {
  background: var(--white);
  color: var(--slateDark);
  font-weight: 600;
  letter-spacing: 0.01px;
}

.rbc-agenda-time-cell,
.rbc-agenda-event-cell {
  /* background-color: var(--light000); */
  color: var(--slateLight);
  cursor: pointer;
  padding-top: 10px 20px;
}

.rbc-agenda-table tbody tr:nth-of-type(2n).rbc-agenda-time-cell,
rbc-agenda-table tbody tr:nth-of-type(2n).rbc-agenda-event-cell {
  background-color: var(--white);
}

.rbc-agenda-event-cell:hover {
  background-color: var(--light200);
  color: var(--white);
  cursor: pointer;
}

/* slot */
.rbc-timeslot-group {
  min-height: 100px;
}

/* month view */

.rbc-header {
  background: var(--light000);
  color: var(--transparentDark);
  flex: 1 0;
  line-height: 16px;
  padding: 3px;
  padding-left: 8px;
  font-weight: 600;
  font-size: 16px;
  border-bottom: 2px solid var(--light000);
}

.rbc-date-cell {
  padding-right: 10px;
}
.rbc-button-link .rbc-show-more .rbc-header .rbc-button-link span[role="columnheader"] {
  vertical-align: top;
  margin-top: -2px;
}

/* indicator */
.rbc-current-time-indicator {
  height: 3px;
  background-color: var(--success);
}

/* header home */
.rbc-time-header.rbc-overflowing {
  border-right: 1px solid var(--transparent);
  /* margin-right: 13px !important; */
}

/* agenda view */
.rbc-agenda-view table.rbc-agenda-table thead > tr > th:first-child {
  display: none;
}
.rbc-agenda-date-cell {
  display: none;
}

.rbc-continues-after,
.rbc-continues-before,
.rbc-continues-prior {
  color: var(--blue200);
}
.rbc-agenda-empty {
  text-align: center;
  padding: 10px 15px;
  color: var(--light100);
  display: block;
  font-size: 1.25rem;
}
.rbc-label .rbc-time-header-gutter {
  width: 72px;
}
.rbc-time-header-content {
  padding-right: 14px;
}
.rbc-allday-cell {
  overflow-x: scroll;
}
.rbc-header:last-of-type {
  margin-right: -14px;
  padding-right: 14px;
}
/* .rbc-day-bg {
  flex-basis: calc((100% - 93px) / 7);
  max-width: calc((100% - 93px) / 7);
}
.rbc-row .rbc-row-segment {
  flex-basis: 42.33% !important;
  max-width: 42.33% !important;
} */
