.task-scrollbar {
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0);
}
.task-scrollbar::-webkit-scrollbar-track-piece {
  background: #dce1e5;
}
.task-scrollbar::-webkit-scrollbar-track {
}
.task-scrollbar::-webkit-scrollbar {
  width: 14px;
}
.task-scrollbar::-webkit-scrollbar-thumb {
  background: #4d5f6a80;
  border: 3px solid #dce1e5;
  background-clip: padding-box;
  border-radius: 9999px;
}
.scrollbar {
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0);
}
.scrollbar::-webkit-scrollbar-track-piece {
  background: #fff;
}
.scrollbar::-webkit-scrollbar-track {
}
.scrollbar::-webkit-scrollbar {
  width: 14px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: var(--light100);
  border: 3px solid #fff;
  /* background-clip: padding-box; */
  border-radius: 9999px;
}
.rbc-time-content {
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0);
}
.rbc-time-content::-webkit-scrollbar-track-piece {
  background: #fff;
}
.rbc-time-content::-webkit-scrollbar-track {
}
.rbc-time-content::-webkit-scrollbar {
  width: 14px;
}
.rbc-time-content::-webkit-scrollbar-thumb {
  background: #dce1e580;
  border: 3px solid #fff;
  /* background-clip: padding-box; */
  border-radius: 9999px;
}

/* date picker */

.react-datepicker__time-list {
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0);
}
.react-datepicker__time-list::-webkit-scrollbar-track-piece {
  background: #fff;
}
.react-datepicker__time-list::-webkit-scrollbar-track {
}
.react-datepicker__time-list::-webkit-scrollbar {
  width: 10px;
}
.react-datepicker__time-list::-webkit-scrollbar-thumb {
  background: #dce1e580;
  border: 3px solid #fff;
  /* background-clip: padding-box; */
  border-radius: 9999px;
}
